@font-face {
  font-family: 'poppins';
  src: url('/assets/font/poppins_regular.ttf') format('truetype');
}

body {
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  background-color: #f8f9fa; /* Default background color */
  color: #212529; /* Default text color */
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

footer {
  text-align: center;
}

label {
  margin: 5px;
}

#wrapper td {
  padding: .75rem;
}

#calcform {
  max-width: 500px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 20px; /* Increased border radius for more rounded appearance */
}

#cal2tbl th {
  font-weight: normal;
}

#cal2tbl td {
  line-height: 1;
}

#cal2tbl th p {
  word-break: break-all;
}

#cal2tbl p {
  line-height: 1;
}

#cal2tbl tr td {
  word-wrap: break-word;
  max-width: 120px;
}